OPUS_CONTAINER_4_0/APP-INF/schemas/opusws.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://irep.clt.com/opusws" targetNamespace="http://irep.clt.com/opusws"
	elementFormDefault="qualified">
	<xsd:complexType name="EAIHeaderType">
		<xsd:sequence>
			<xsd:element name="InstanceId" type="xsd:string" />
			<xsd:element name="Parameters" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Parameter" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:anyAttribute />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="WEB001_0001">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EAIHeader" type="EAIHeaderType" />
				<xsd:element name="DataArea">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssignInfoCollection">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AssignInfoRequest" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BKG_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="MF_REF_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BD_TP_CD" type="xsd:string"
														minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="AssignInfoResponse">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="RESULT" type="xsd:string"
														minOccurs="0" nillable="true" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="WEB002_0001">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EAIHeader" type="EAIHeaderType" />
				<xsd:element name="DataArea">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InfoCollection">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Request" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BL_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="IF_SYS_KND_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="FCTRY_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="ACT_CUST_N1ST_ADDR" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="ACT_CUST_CTY_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="ACT_CUST_STE_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="ACT_CUST_ZIP_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CNTC_PSON_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CNTC_PSON_PHN_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CNTC_PSON_FAX_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="USR_EML" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="USR_PHN_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRE_OFC_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="EQ_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="DO_RMK" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRE_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="UPD_USR_ID" type="xsd:string"
														minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Response">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="RESULT" type="xsd:string"
														minOccurs="0" nillable="true" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="WEB003_0001">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EAIHeader" type="EAIHeaderType" />
				<xsd:element name="DataArea">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InfoCollection">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Request" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SYS_AREA_GRP_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CNTR_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CNTR_CYC_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="DMDT_TRF_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="DMDT_CHG_LOC_DIV_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CHG_SEQ" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="TO_MVMT_STS_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="TO_MVMT_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WEB_MTY_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="TO_MVMT_YD_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WEB_IND_FLG" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WEB_CRE_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WEB_CRE_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WEB_NTFY_PIC_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WEB_NTFY_PIC_TELCM_NO" type="xsd:string"
														minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Response">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="RESULT" type="xsd:string"
														minOccurs="0" nillable="true" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="WEB004_0001">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EAIHeader" type="EAIHeaderType" />
				<xsd:element name="DataArea">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PrintInfoCollection">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PrintInfoRequest" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BKG_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="INFO_SEQ" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="INET_BL_SND_VIA_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WBL_PRN_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WBL_PRN_GDT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="WBL_PRN_KNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="N1ST_PRN_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="DOC_ECD_PROC_FLG" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="PRN_CUST_TP_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="PRN_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="MRG_FILE_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="MRG_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="SHPR_CNT_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="SHPR_SEQ" type="xsd:string"
														minOccurs="0" />

													<xsd:element name="CNEE_CNT_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CNEE_SEQ" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="NTFY_CNT_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="NTFY_SEQ" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="FRT_FWRD_CNT_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="FRT_FWRD_SEQ" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="VSL_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="SKD_VOY_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="SKD_DIR_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BKG_CUST_TP_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="LOCL_VER_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="UPD_USR_ID" type="xsd:string"
														minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="PrintInfoResponse">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="RESULT" type="xsd:string"
														minOccurs="0" nillable="true" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="WEB005_0001">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EAIHeader" type="EAIHeaderType" />
				<xsd:element name="DataArea">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BlRqstInfoCollection">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BlRqstInfoRequest" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="XTER_RQST_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="XTER_RQST_SEQ" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_ISS_RQST_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="RQST_RCT_LOC_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="VSL_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="SKD_VOY_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="SKD_DIR_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="VSL_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="RQST_BL_TP_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="RQST_CO_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="RQST_USR_EML" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="RQST_ATND_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="RQST_PHN_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_RQST_RMK" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="ACT_SHPR_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="ACT_SHPR_RGST_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="TAX_INV_RCVR_CO_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="TAX_INV_RCVR_RGST_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="TAX_INV_RCVR_ATND_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="TAX_INV_RCVR_PHN_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="REMIT_CO_NM" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="REMIT_KND_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_BANK_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_BANK_ACCT_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_REMIT_AMT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_REMIT_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_USA_BANK_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_USA_BANK_ACCT_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_USA_REMIT_AMT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_USA_REMIT_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_USA_ACCT_CURR_CD" type="xsd:string"
														minOccurs="0" />	
													<xsd:element name="BL_ISS_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_ISS_STS_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_ISS_RMK" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="DELT_FLG" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRR_ACCT_CURR_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_ISS_REQ_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRE_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="UPD_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="BL_ISS_RQST_CD" type="xsd:string"
														minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="BlRqstInfoResponse">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="RESULT" type="xsd:string"
														minOccurs="0" nillable="true" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="WEB006_0001">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EAIHeader" type="EAIHeaderType" />
				<xsd:element name="DataArea">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AesInfoCollection">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AesInfoRequest" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BKG_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="IO_BND_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="XPT_IMP_SEQ" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CNT_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_TP_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_INLND_TRNS_PFX_CTNT"
														type="xsd:string" minOccurs="0" />
													<xsd:element name="AES_INLND_TRNS_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_PTA_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_PTA_NO1" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_PTA_NO2" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_PTA_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_PTU_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_PTU_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_PTU_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_DWN_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_DWN_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_DWN_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_EXPT_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="AES_EXPT_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CAED_TP_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CAED_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CAED_NO1" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CAED_NO2" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CAED_NO3" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="G7_EDI_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="G7_EDI_NO1" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="G7_EDI_NO2" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="B13A_XPT_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="B13A_XPT_DT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="B13A_XPT_NO1" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="B13A_XPT_NO2" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="MF_SMRY_RPT_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="MF_SMRY_RPT_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CGO_CTRL_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CGO_CTRL_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="NDR_REF_PFX_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="NDR_REF_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="NDR_REF_CTNT" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="CRE_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="UPD_USR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="POR_CD" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="IBFLAG" type="xsd:string"
														minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="AesInfoResponse">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="RESULT" type="xsd:string"
														minOccurs="0" nillable="true" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
<xsd:element name="WEB007_0001">
	<xsd:complexType>
    	<xsd:sequence>
     		<xsd:element name="EAIHeader" type="EAIHeaderType"/>
      		<xsd:element name="DataArea">
       			<xsd:complexType>
        			<xsd:sequence>
         				<xsd:element name="InfoCollection">
						    <xsd:complexType>
						    	<xsd:sequence>
			      					<xsd:element name="Request" maxOccurs="unbounded">
			           					<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="SYS_AREA_GRP_ID" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="CNTR_NO" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="CNTR_CYC_NO" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="DMDT_TRF_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="DMDT_CHG_LOC_DIV_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="CHG_SEQ" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="FM_MVMT_DT" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="TO_MVMT_DT" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="WEB_CRE_USR_ID" type="xsd:string" minOccurs="0"/>  	                  
									            <xsd:element name="ACT_CNT_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="ACT_CUST_SEQ" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="CUST_CNT_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="CUST_SEQ" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="FM_MVMT_STS_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="FM_MVMT_YD_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="TO_MVMT_STS_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="TO_MVMT_YD_CD" type="xsd:string" minOccurs="0"/>  
									            <xsd:element name="OFC_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="BKG_NO" type="xsd:string" minOccurs="0"/>  
									            <xsd:element name="CNTR_TPSZ_CD" type="xsd:string" minOccurs="0"/>
									            <xsd:element name="IO_BND_CD" type="xsd:string" minOccurs="0"/>
								            </xsd:sequence>
			             				</xsd:complexType>
            						</xsd:element>
            						<xsd:element name="Response">
             							<xsd:complexType>
              								<xsd:sequence>
								               <xsd:element name="RESULT" type="xsd:string" minOccurs="0" nillable="true" />                       
								               <xsd:element name="FX_FT_OVR_DYS" type="xsd:string" minOccurs="0" nillable="true" />
								               <xsd:element name="BZC_TRF_CURR_CD" type="xsd:string" minOccurs="0" nillable="true" />
								               <xsd:element name="BILL_AMT" type="xsd:string" minOccurs="0" nillable="true" />
							              	</xsd:sequence>
             							</xsd:complexType>
            						</xsd:element>
           						</xsd:sequence>
		      				</xsd:complexType>
	     				</xsd:element>                
       				</xsd:sequence>             
       			</xsd:complexType>
     		</xsd:element>
   		</xsd:sequence>
  	</xsd:complexType>
</xsd:element>
 <xsd:element name="WEB008_0001">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="EAIHeader" type="EAIHeaderType"/>
    <xsd:element name="DataArea">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="CSInfoCollection">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="CSInfoRequest" maxOccurs="unbounded">
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="BkgNo" type="xsd:string" minOccurs="0"/>
             <xsd:element name="SvrId" type="xsd:string" minOccurs="0"/>
             <xsd:element name="CntrNo" type="xsd:string" minOccurs="0"/>
             <xsd:element name="CntrCycNo" type="xsd:string" minOccurs="0"/>
             <xsd:element name="DmdtTrfCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="DmdtChgLocDivCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="ChgSeq" type="xsd:string" minOccurs="0"/>
             <xsd:element name="CntrTpszCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="FmMvmtStsCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="FmMvmtDt" type="xsd:string" minOccurs="0"/>
             <xsd:element name="FmMvmtYdCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="ToMvmtStsCd" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="ToMvmtDt" type="xsd:string" minOccurs="0"/>
             <xsd:element name="ToMvmtYdCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="DulTpExptFlg" type="xsd:string" minOccurs="0"/>
             <xsd:element name="CxlBkgChgFlg" type="xsd:string" minOccurs="0"/>
             <xsd:element name="WebCancelFlg" type="xsd:string" minOccurs="0"/>
             <xsd:element name="FtEndDt" type="xsd:string" minOccurs="0"/>
             <xsd:element name="OfcCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="OfcRhqCd" type="xsd:string" minOccurs="0"/>
             <xsd:element name="CorrRmk" type="xsd:string" minOccurs="0"/>
             <xsd:element name="WebMtyDt" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="CSInfoResponse">
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="RESULT" type="xsd:string" minOccurs="0" nillable="true"/>
            </xsd:sequence>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
<!--2013.09.03 Add-->

	<xsd:element name="WEB009_0001">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EAIHeader" type="EAIHeaderType" />
				<xsd:element name="DataArea">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssignInfoCollection">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AssignInfoRequest" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="XTER_SNDR_ID" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="XTER_RQST_NO" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="XTER_RQST_SEQ" type="xsd:string"
														minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="AssignInfoResponse">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="RESULT" type="xsd:string"
														minOccurs="0" nillable="true" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!--2014.09.02 Add-->

<!--2013.09.12 Add-->
<!--2013.09.24 Add-->
<!--2013.12.16 Add-->
<!--2013.12.16 Add-->
<!--2014.06.02 Add-->
</xsd:schema>
