NIS2010/APP-INF/schemas/alpsjms.xsd

<?xml version="1.0" encoding="EUC-KR"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://irep.hanjin.com/alps"
            targetNamespace="http://irep.hanjin.com/alps"
            elementFormDefault="qualified">
  <xsd:complexType name="EAIHeaderType">
    <xsd:sequence>
      <xsd:element name="InstanceId" type="xsd:string"/>
      <xsd:element name="Parameters" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Parameter" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                    <xsd:anyAttribute/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="VMS004_0001">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EAIHeader" type="EAIHeaderType"/>
        <xsd:element name="DataArea">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DepatureETACollection">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Depature" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="VSL_CD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VOY_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LANE_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_PORT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="FST" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ZT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="NEXT_PORT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ETA" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TOGO_MILE" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TOGO_SPD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DFT_ARR" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DFT_DEP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DFT_NEXT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_ARR" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_DEP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_NEXT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_SUP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="MILES_OBS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SPD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="RPM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LOAD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CARGO_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="WT_HD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_SBE" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_APS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_BERTH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_COMM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_COMP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_DEP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_DOP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_RUP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PURPOSE_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="HWX" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DENSITY" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DET" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="MILES_ENG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="MILES_IN" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="MILES_OUT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="WEIGHT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_ANC" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_AWY" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_DEP_ANC" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TIME_DEP_AWY" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_SEA" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_PORT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="REF_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CARGO_CNTR" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CGO_WHT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CGO_DIS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CARGO_CD2" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CARGO_CD3" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CARGO_CD4" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CARGO_CD5" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_SEA_LS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_PORT_LS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ROB_SUP_LS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SDG_TOTAL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SDG_FO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SDG_INCI" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SDG_DIS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SDG_DIS_NM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SDG_REMAIN" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SDG_PUR" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CAP_NM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CE_NM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_LAT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_LONG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_RPM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_RPM_MAX" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_RPM_MIN" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_RPM_UNSBL_FM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_RPM_UNSBL_TO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_HRS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_MIN" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DEP_RMK" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_LAT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_LONG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_RH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_MILES_OBS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_MILES_ENG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_RPM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_FOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_LS_FOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_AUXCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_LS_AUXCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_BLRCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_LS_BLRCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_DOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ARR_LS_DOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CUD_FLG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="OLD_VSL_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="OLD_VOY_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="OLD_LANE_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="OLD_DEP_PORT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="OLD_FST" type="xsd:string"
                                       minOccurs="0"/>

                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VMS005_0001">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EAIHeader" type="EAIHeaderType"/>
        <xsd:element name="DataArea">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NoonCollection">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Noon" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="VSL_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="VOY_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LANE_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="GMT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LAT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="VSL_LONG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SAIL_TIME" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="MILES_OBS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="MILES_ENG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="WINDF" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SEAF" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="VIS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SPD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="RPM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SLIP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TOGO_MILE" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TOGO_SPD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="FOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="NEXT_PORT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ETA" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DAN_YN" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DAN_REASON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="BILGE_CHK" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TEMP_CHK" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="GAS_CHK" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="BALLAST_EXCH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="FOLD_CLEAN" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PSC_INSP" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="REF_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="AUXCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="BURCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="ENERGY" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LI" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LS_FOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LS_AUXCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LS_BLRCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LS_DOCON" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CUD_FLG" type="xsd:string"
                                       minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
<!--20140294 Add-->
<xsd:element name="VMS006_0001">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EAIHeader" type="EAIHeaderType"/>
        <xsd:element name="DataArea">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="OAblogReportCollection">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="VSL_CD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VOY_NO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LANE_CD" type="xsd:string" minOccurs="0"/>
                    <!--<xsd:element name="NIS_VOY_NO" type="xsd:string" minOccurs="0"/>-->
                    <xsd:element name="REPORT_DT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TIME_SAIL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TIME_PILOT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TIME_BERTH" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TIME_PORT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TIME_DET_P" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TIME_DET_S" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DIST_SEA" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SPEED" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REF_NO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SYS_ISS_DT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SYS_UPD_DT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FCM_TRANS_IND" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CUD_FLG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OAblogReportItemCollection" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="VSL_CD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VOY_NO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LANE_CD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DEP_PORT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ZT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="REPORT_DT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_SBE" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_APS" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_ANC" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_BERTH" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_COMM" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_COMP" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_DEP" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_DEP_AWY" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_DOP" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TIME_RUP" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MILES_IN" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MILES_OUT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MILES_OBS" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MILES_ENG" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SPD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RPM" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SCONSP_ME_FO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SCONSP_ME_DO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SCONSP_GE_FO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SCONSP_GE_DO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SCONSP_BLR_FO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SCONSP_BLR_DO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PCONSP_ME_FO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PCONSP_ME_DO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PCONSP_GE_FO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PCONSP_GE_DO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PCONSP_BLR_FO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PCONSP_BLR_DO" type="xsd:string" minOccurs="0"/>
                          <!--<xsd:element name="ROB_INI_FO" type="xsd:string" minOccurs="0"/>-->
                          <!--<xsd:element name="ROB_INI_DO" type="xsd:string" minOccurs="0"/>-->
                          <xsd:element name="ROB_QTY1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ROB_QTY2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ROB_QTY3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ROB_QTY4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ROB_QTY5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ROB_QTY6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SUP_FO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SUP_DO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SUP_FW" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CONDI_ARR" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CONDI_DEP" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DET_S" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DET_P" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ABLOG_ITEM_RMK" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="REF_NO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SYS_ISS_DT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SYS_UPD_DT" type="xsd:string" minOccurs="0"/>
                          <!--<xsd:element name="ERP_S_FLG" type="xsd:string" minOccurs="0"/>-->
                          <!--<xsd:element name="VM_CR_DT" type="xsd:string" minOccurs="0"/>-->
                          <xsd:element name="T_EEOI" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="S_EEOI" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="L_CARGO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CUD_FLG" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
<!--201209 Delete-->
  <xsd:element name="VMS007_0001">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EAIHeader" type="EAIHeaderType"/>
        <xsd:element name="DataArea">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DslETACollection">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Dsl" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="VSL_CD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SVR_DT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SEQ_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="VOY_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="VSL_SPD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="VSL_RPM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="R_HR" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="FOC_TD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="COC_LD" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="LI" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="GI" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="JCTH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="JCTL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PCTH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PCTL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SATH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="SATL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TCRH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="TCRL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="EGT" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="EGTH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="EGTL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="FO_SG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CO_SG" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="S" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PM" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PMH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PML" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PC" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PCH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="PCL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="RMK" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FQS" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DPACH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DPACL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DPEH" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="DPEL" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="REF_NO" type="xsd:string"
                                       minOccurs="0"/>
                          <xsd:element name="CUD_FLG" type="xsd:string"
                                       minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
<!--20130401 Add-->
  <xsd:element name="FNS008_0004">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EAIHeader" type="EAIHeaderType"/>
        <xsd:element name="DataArea">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CSRApprovalCollection">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CSRApprovalRequest" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="LIFID" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SEQ" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TOTAL_COUNT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ROW_COUNT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CSR_NUMBER" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CSR_TYPE" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APPROVAL_DATE" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APPROVAL_OFFICE" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APPROVER" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SOURCE" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ATTRIBUTE1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ATTRIBUTE2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ATTRIBUTE3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ATTRIBUTE4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ATTRIBUTE5" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
