NIS2010/APP-INF/schemas/WSLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/" xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.openuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.openuri.org/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:ope="http://www.openuri.org/" elementFormDefault="qualified" targetNamespace="http://www.openuri.org/">
      <s:element name="getAuthKey">
        <s:complexType>
          <s:sequence>
            <s:element name="userId" type="s:string" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAuthKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="getAuthKeyResult" type="s:string" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
      <s:element name="getSppInfo">
        <s:complexType>
          <s:sequence>
            <s:element name="authKey" type="s:string" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSppInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="getSppInfoResult" type="ope:LoginInfoVO" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginInfoVO" nillable="true" type="ope:LoginInfoVO"/>
      <s:complexType name="LoginInfoVO">
        <s:complexContent>
          <s:extension base="ope:CommonVO">
            <s:sequence>
              <s:element name="Admin_type" type="s:string" minOccurs="0"/>
              <s:element name="Appr_mk" type="s:string" minOccurs="0"/>
              <s:element name="Bulk_user" type="s:string" minOccurs="0"/>
              <s:element name="Confirm_mtd" type="s:string" minOccurs="0"/>
              <s:element name="Email" type="s:string" minOccurs="0"/>
              <s:element name="F_name" type="s:string" minOccurs="0"/>
              <s:element name="Fax_area" type="s:string" minOccurs="0"/>
              <s:element name="Fax_int" type="s:string" minOccurs="0"/>
              <s:element name="Fax_num" type="s:string" minOccurs="0"/>
              <s:element name="Group_id" type="s:string" minOccurs="0"/>
              <s:element name="Group_name" type="s:string" minOccurs="0"/>
              <s:element name="L_name" type="s:string" minOccurs="0"/>
              <s:element name="Master_spp" type="s:string" minOccurs="0"/>
              <s:element name="Office" type="s:string" minOccurs="0"/>
              <s:element name="Prnt_vndr_seq" type="s:int"/>
              <s:element name="Tel_area" type="s:string" minOccurs="0"/>
              <s:element name="Tel_ext" type="s:string" minOccurs="0"/>
              <s:element name="Tel_int" type="s:string" minOccurs="0"/>
              <s:element name="Tel_num" type="s:string" minOccurs="0"/>
              <s:element name="Time_zone" type="s:string" minOccurs="0"/>
              <s:element name="User_id" type="s:string" minOccurs="0"/>
              <s:element name="User_name" type="s:string" minOccurs="0"/>
              <s:element name="Vndr_nm" type="s:string" minOccurs="0"/>
              <s:element name="Vndr_seq" type="s:int"/>
              <s:element name="Lst_login_dt" type="s:string" minOccurs="0"/>
              <s:element name="Country" type="s:string" minOccurs="0"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CommonVO">
        <s:sequence/>
      </s:complexType>
    </s:schema>

  </wsdl:types>
  <wsdl:message name="getAuthKeySoapIn">
    <wsdl:part name="parameters" element="s0:getAuthKey"/>
  </wsdl:message>
  <wsdl:message name="getAuthKeySoapOut">
    <wsdl:part name="parameters" element="s0:getAuthKeyResponse"/>
  </wsdl:message>
  <wsdl:message name="getSppInfoSoapIn">
    <wsdl:part name="parameters" element="s0:getSppInfo"/>
  </wsdl:message>
  <wsdl:message name="getSppInfoSoapOut">
    <wsdl:part name="parameters" element="s0:getSppInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="getAuthKeyHttpGetIn">
    <wsdl:part name="userId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getAuthKeyHttpGetOut">
    <wsdl:part name="Body" element="s0:string"/>
  </wsdl:message>
  <wsdl:message name="getSppInfoHttpGetIn">
    <wsdl:part name="authKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSppInfoHttpGetOut">
    <wsdl:part name="Body" element="s0:LoginInfoVO"/>
  </wsdl:message>
  <wsdl:message name="getAuthKeyHttpPostIn">
    <wsdl:part name="userId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getAuthKeyHttpPostOut">
    <wsdl:part name="Body" element="s0:string"/>
  </wsdl:message>
  <wsdl:message name="getSppInfoHttpPostIn">
    <wsdl:part name="authKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSppInfoHttpPostOut">
    <wsdl:part name="Body" element="s0:LoginInfoVO"/>
  </wsdl:message>
  <wsdl:portType name="WSLoginSoap">
    <wsdl:operation name="getAuthKey">
      <wsdl:input message="s0:getAuthKeySoapIn"/>
      <wsdl:output message="s0:getAuthKeySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="getSppInfo">
      <wsdl:input message="s0:getSppInfoSoapIn"/>
      <wsdl:output message="s0:getSppInfoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSLoginHttpGet">
    <wsdl:operation name="getAuthKey">
      <wsdl:input message="s0:getAuthKeyHttpGetIn"/>
      <wsdl:output message="s0:getAuthKeyHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="getSppInfo">
      <wsdl:input message="s0:getSppInfoHttpGetIn"/>
      <wsdl:output message="s0:getSppInfoHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSLoginHttpPost">
    <wsdl:operation name="getAuthKey">
      <wsdl:input message="s0:getAuthKeyHttpPostIn"/>
      <wsdl:output message="s0:getAuthKeyHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="getSppInfo">
      <wsdl:input message="s0:getSppInfoHttpPostIn"/>
      <wsdl:output message="s0:getSppInfoHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSLoginSoap" type="s0:WSLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAuthKey">
      <soap:operation soapAction="http://www.openuri.org/getAuthKey" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSppInfo">
      <soap:operation soapAction="http://www.openuri.org/getSppInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSLoginHttpGet" type="s0:WSLoginHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="getAuthKey">
      <http:operation location="/getAuthKey"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSppInfo">
      <http:operation location="/getSppInfo"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSLoginHttpPost" type="s0:WSLoginHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="getAuthKey">
      <http:operation location="/getAuthKey"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSppInfo">
      <http:operation location="/getSppInfo"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSLogin">
    <wsdl:port name="WSLoginSoap" binding="s0:WSLoginSoap">
      <soap:address location="http://203.246.150.97:7901/sppWeb/Webservices/WSLogin.jws"/>
    </wsdl:port>
    <wsdl:port name="WSLoginHttpGet" binding="s0:WSLoginHttpGet">
      <http:address location="http://203.246.150.97:7901/sppWeb/Webservices/WSLogin.jws"/>
    </wsdl:port>
    <wsdl:port name="WSLoginHttpPost" binding="s0:WSLoginHttpPost">
      <http:address location="http://203.246.150.97:7901/sppWeb/Webservices/WSLogin.jws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
